
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    list-style: none;
    justify-content: center;
    
}


.gallery-image{
    display: block;
    width: 360px;
    height: 200px;
    cursor: zoom-in;
    transition: transform 0.3s ease;
}
.gallery-image:hover{
    transform: scale(1.04);
}
